# Logs
logs
*.log

# Node modules
node_modules/
backend/node_modules/

# Build files
dist/
dist-ssr/
build/

# Local env files
.env
*.local

# Uploads folder (VERY IMPORTANT)
uploads/

# Editor files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?